# Spring Initializr
HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Allow nested target folders under source if needed
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
logs/
*.log

# Environment files
.env
.env.*

# macOS
.DS_Store

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache


# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/